body {
    background: #1C1C1C;
    color: #FFFFFF
}
.frame {
    background: #1F2937;
    margin: 20px;
    padding: 20px;
}
.textgreen {
    color: #4ADF86
}
h1 {
    font-family: Karla, sans-serif;
    font-weight: 800
}
.passwords {
    display: flexbox;
}